:root {
    /* --accenttable: RGB(255,211,172,0.5) */
    --accenttable: rgb(109,129,150,0.3)
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.mainsection {
    margin-left: 18%;
    font-size: 16px;
    color: #272757;
}
h1, h2 { margin-left: 16px;}
table {border-collapse: collapse;margin-left: 32px;}
th, td {
    border: 2px solid #272757;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}
th {
    background-color: rgb(109,129,150,0.6);
}
tr:nth-child(even) {
    background-color: var(--accenttable);
}
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px;}

nav {
    background-color: #272757;
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    /* Date: 11/14/2025
    Adapted from:
    Source URL: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
    position: fixed;
    top: 0;            
    bottom: 0;         
    left: 0;  
    
    height: 100%;  
    width: 15%;       
}

nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;

}

nav a:hover {
    background-color: #B6B6D6;
}

a,.resetbtn {
    margin-left: 16px;
}
.homepageDescription {margin-left: 32px;}

/*will update with relative units*/
.resetbtn {
    margin: 30px;
    padding: 22px 25px;

}

form {
    display: block;
}
